@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

/* 초기화 영역 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
  padding: 0;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

body {
  font-family: "Pretendard-Regular";
  font-size: 16px;
}

/* 공통 */
.baseBox {
  position: relative;
  display: block;
  width: 200px;

  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

/* 사용자 */
/* nav */
.navBar {
  position: relative;
  display: block;
  width: 100%;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;

  margin-bottom: 20px;
}
.logo {
  position: absolute;
  top: -24px;
  left: 10px;
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url("./img/logo.png") no-repeat center;
  background-size: contain;
  font-size: 0;
}
.navBar ul {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translateY(-50%);
  display: flex;
}
.navBar ul li {
  margin: 0 10px;
}

/* main bg */
.main-bg {
  position: relative;
  display: block;
  height: 300px;
  background: url("./img/main-bg.svg") no-repeat center;
  background-size: cover;

  margin-bottom: 20px;
}
/* container-item */
.container-item-wrap {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
}
.itemBox {
  width: 30%;

  padding: 5px;
  margin: 10px 0;
  text-align: center;
}

@media all and (max-width: 780px) {
  .container-item-wrap {
    flex-direction: column;
  }
  .itemBox {
    width: 70%;
    margin: 10px 0;
  }
}

/* detail-wrap */
.detail-wrap {
  position: relative;
  display: block;
  width: 60%;
  margin: 0 auto;
}
.detailItem-wrap {
  display: flex;
  width: 100%;

  padding: 10px;
  margin-bottom: 20px;
}

.detailImg {
  width: 60%;
}

.detailItemTxt {
  position: relative;
  display: block;
  padding: 40px;
}

.orderBt {
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
  width: 80px;
  height: 30px;

  border: 0;
  border-radius: 5px;

  background-color: rgb(255, 255, 255);
  transition: all 0.3s;
}
.orderBt:hover {
  background-color: cornflowerblue;
  color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.countBox {
  width: 100%;
  height: 100px;
  margin: 10px 0;

  background-color: rgb(255, 255, 134);
  padding: 20px 0;
  text-align: center;
}

/* cart-wrap */
.cart-wrap {
  position: relative;
  display: block;
  width: 80%;

  margin: 0 auto;
}

.plusBt {
  width: 28px;
  height: 100%;

  background-color: skyblue;
  border: 0;
  border-radius: 3px;
}
.deleteBt {
  width: 28px;
  height: 100%;

  background-color: rgb(255, 173, 173);
  border: 0;
  border-radius: 3px;
}

/* ani */
.fade {
  animation-name: fade;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
